POSTGRES_USER=lawcrm
POSTGRES_PASSWORD=lawcrm
POSTGRES_DB=law_crm_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

BACKEND_CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

SMTP_HOST=smtp.yandex.ru
SMTP_PORT=465
SMTP_USERNAME=Kushov1@yandex.ru
SMTP_PASSWORD=avccidivtegqdkvk
SMTP_FROM=Kushov1@yandex.ru
NOTIFICATION_EMAIL=
SMTP_USE_SSL=true
DEV_SEED_ENABLED=true
SECRET_KEY=jB=&*Ee5hfS8o^Sy
